@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

header h1 {
  color: #2aa2d1;
  margin-top: 20px;
  text-align: center;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.trash-btn,
.complete-btn {
  background: #2aa2d1;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.todo li {
  flex: 1;
}

.completed {
  text-decoration: line-through;
  color: #696969;
}
